body{
    background-color:#fdf2fd;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color:black;
}
.row{
    margin-top:50px;
    min-height:100px;
    justify-content:space-between;
}
.show{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h5{
    color:silver;
}
.center{
    text-align:center;
}
a{
    text-decoration:none;
    color:slategrey;
}
